:root{
    --maincolor: #00bf6f;
    --secondarycolor: #ffffff;
    --thirdcolor: #f3f3f3;
    --footercolor: #11403d;
    --black: #000000;
    --innershdw: inset 3px 4px 6px rgb(0, 0, 0.3);
    --outershdw: 3px 4px 6px rgb(0, 0, 0.3);
    --mainfont: 'Lato', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 8000px){
    body {
        margin-inline: 15vw;
        font-family: Arial, Helvetica, sans-serif;
    }
}
