:root{
    --maincolor: #00bf6f;
    --maincolor-opa: #00bf6f1a;
    --secondarycolor: #ffffff;
    --thirdcolor: #f3f3f3;
    --footercolor: #11403d;
    --black: #000000;
    --innershdw: inset 3px 4px 6px rgb(0, 0, 0, 0.3);
    --outershdw: 2px 2px 5px rgb(0, 0, 0, 0.3);
    --borderradius: 20px;
    --txtcolor1: #000000;
    --txtcolor2: #707070;
    --lato: lato, sans-serif;
    --helvetica: 'helvetica neue', sans-serif;
}

p{
    font-family: var(--helvetica); 
    color: var(--txtcolor2);
    line-height: 1.4em;
}
.info-p{
      padding-inline: 1em;
}
h1{
        text-align: center;
        font-size: 3rem;
        font-family: var(--lato);
        text-transform: uppercase;
}
h4{
    font-family: var(--helvetica); 
    font-size: 1.2rem;
    color: var(--txtcolor2);
    line-height: 1.7em;
}

/* Navigation begynder */

/* Fas fa-bar svg'ets (burgermenu ikonet) indstillinger */
.fas{
  color: black;
  font-size: 2rem;
  line-height: 40px;
  float: right;
  padding: 0.3em;
  padding-right: 0.5em;
}

/* Navbaren begynder */
nav{
  box-shadow: 2px 3px 6px rgb(140, 139, 139);
  width: 100%;
  padding: 0.1rem;
}

/* UL classen under "nav" */
.navbar{
  position: fixed;
  background-color: var(--secondarycolor);
  font-family: var(--mainfont);
  padding: 0;
}

/* LOGO i navbaren */
nav img{
  padding: 0.2rem;
}

/* UL indstillinger, bl.a. gør at vi har en transition på vores menu */
nav ul{
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  text-align: left;
  width: 100%;

}

/* List dekoration */
nav ul li{
  list-style-type: none;
  color: black;
  padding: 0.5em;
  border-bottom: 1px solid rgb(237, 236, 236);
  padding-top: 0.3em;
}

/* Når burgermenu'en kommer ned er det her hele a-tags dekoration */
nav ul li a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 21px;
}

/* Checkbox, som er burgermenu'ens indstillinger der gør at vores menu kommer ned når man klikker */
#checkbox{
  display: none;
}

#checkbox:checked ~ nav ul{
  max-height: 100%;
  transition: all 0.5s;
}


/* Navbar slutter */

/*Styling  af content-bokse*/
.content-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  padding: 2rem;
}

.content-box {
  background-color: var(--secondarycolor);
  border-radius: 15px;
  height: fit-content;
  box-shadow: var(--outershdw);
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.contentimg{
  width: 100%;
  border-radius: 15px;
  box-shadow: var(--outershdw);
}
.contenth{
  text-align: center;
}
.contentp{
  padding: 0 1em 0.5em 1em;
}

/* Topbar & Navbar */
.top-bar-nav {
  display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
  
li {
    float: left;
    border-right:1px solid rgba(132, 132, 132, 0.15);
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}
  
.active {
    background-color: #04AA6D;
}

#nav-logo {
   width: 140px;
   height: auto;
}

.main-nav {
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
      margin-top: 0.5rem;
      padding-block: 1.3rem;
      border-top:1px solid rgba(132, 132, 132, 0.15);
      display: none;
      border-bottom: 1px solid rgba(132, 132, 132, 0.15);
      margin-bottom: 3rem;
}

.main-nav-li {
    display: flex;
    flex-direction: column;
    border-radius: var(--borderradius);
    box-shadow: var(--outershdw);
    justify-content: center;
    align-items: center;
    margin-left: 3.5vw;
    overflow-x: hidden;
    font-family: var(--mainfont);
    text-transform: uppercase;
    font-size: 1rem;
}

.main-nav li {
    border-right: 0px;
    padding-top: 1rem;
    align-items: center;
}

.main-nav-li:hover {
    box-shadow: var(--innershdw);
    
}

/* Styling for current page */
.current-page {
    background-color: var(--maincolor);
}

.current-page a {
    color: var(--secondarycolor);
}

.current-page img {
    -webkit-filter: invert(100%);
}

/* Styling for vores ikoner */
.our-icons {
    width: 40px;
    height: auto;
}

.round-icon {
    border-radius: 100px;
    padding-inline: 1rem;
    float: right;
    margin-right: 0.35em;
}

/* ----- Spisesteder ----- */
.spisesteder-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: var(--txtcolor2) solid 1px;
  margin-bottom: 2rem;
}
/* Dropdown menu */
.dropbtn {
    background-color: var(--secondarycolor);
    box-shadow: var(--outershdw);
    border-radius: var(--borderradius);
    padding-inline: auto;
    padding-block: 1rem;
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 90%;
    font-weight: 700;
    color: var(--black);
  }

  .arrow {
    margin-left: 2rem;
    align-items: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    
  }

  .extra-margin {
    margin-bottom: 9rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
    .sort-slider {
        display: none;
        position: absolute;
        flex-direction: column;
        width: 90%;
        background-color: #f1f1f1;
        text-transform: uppercase;
        font-size: 2rem;
        min-width: 160px;
        overflow: auto;
        border-radius: var(--borderradius);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-weight: 700;
        cursor: pointer;
      }


.spisesteder-h1 {
    font-size: 2rem;
    text-align: center;
  }
.headerflex{
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    margin-bottom: 2em;
}

.headericon{
    width: 5vw;
}

.show-element{
    display: block;
}

    /* Utility classes */
.show-element{
  display: block;
}

.hide-element{
  display: none;
}

.show-flex{
  display: block;
  display: flex;
}

.extra-margin {
    margin-bottom: 7rem;
  }

/* ------ MEDIA QUERY ------ */

@media only screen and (min-width: 960px) {
    .mobile-nav {
      display: none;
    }

    .dropdown {
        display: none;
    }

    .top-bar-nav {
        display: block;
    }

    .main-nav {
        display: block;
    }

    li a:hover:not(.active) {
      top: -3px;
    }

  .top-bar-nav .main-nav {
    display: block;
    }

  .header-spisesteder {
      display: block;
      margin-bottom: 4rem;
    }

  .spisesteder-header {
    display: none;
    }

    /* Sort-Slider */
.sort-slider {
  display: block;
  overflow: hidden;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 50px;
  margin: auto;
  position: relative;
  background-color: #fff;
  z-index: 7;
  border-radius: 50px;
  margin: 0;
}

.sort-slider li {
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 0px;
  float: left;
}
<<<<<<< Updated upstream

.sort-slider-overnatning li {
  width: 33.33%;
=======
.kulturslider li {
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 0px;
  float: left;
>>>>>>> Stashed changes
}
    
.sort-slider a {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
  border-radius: 50px;
  padding: 0;
  display: flex;
}
  
  .sort-slider a.active {
    background-color: #00BF6F;
    pointer-events: none;
    color: #fff;
    box-shadow: var(--innershdw);
  }

  .spisesteder-h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .content-container {
    column-gap: 10%;
    row-gap: 0;
    grid-template-columns: 45% 45%;
  }
}