:root{
    --maincolor: #00bf6f;
    --secondarycolor: #ffffff;
    --thirdcolor: #f3f3f3;
    --footercolor: #11403d;
    --black: #000000;
    --innershdw: inset 3px 4px 6px rgb(0, 0, 0.3);
    --outershdw: 3px 4px 6px rgb(0, 0, 0.3);
    --txtcolor1: #000000;
    --txtcolor2: #707070;
}

body {
    margin-inline: 15vw;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
  
li {
    float: left;
    border-right:1px solid rgba(132, 132, 132, 0.15);
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}
  
li a:hover:not(.active) {
    top: -3px;
}
  
.active {
    background-color: #04AA6D;
}

#nav-logo {
   width: 140px;
   height: auto;
}

.main-nav {
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
      margin-top: 0.5rem;
      padding-top: 1.3rem;
      border-top:1px solid rgba(132, 132, 132, 0.15);
}

.main-nav li {
    border-right: 0px;
    padding-top: 1rem;
    align-items: center;
}

#filmknap {
    border-radius: 50px;
    border: solid 2px #04AA6D;
    padding-block: 0.4rem;
    padding-inline: 1.5rem;
    background-color: white;
    color: #04AA6D;
}

/* Spisesteder */
.spisheader{
    text-align: center;
}
.spisp{
    text-align: center;
    font-size: 0.84375rem;
    color: var(--txtcolor2)
}
/* Dropdown menu */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #04AA6D;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    .sort-slider {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
    .sortslider a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {display: block;
    }

.show-element{
    display: block;
}

.hide-element{
    display: none;
}