:root{
    --maincolor: #00bf6f;
    --secondarycolor: #ffffff;
    --thirdcolor: #f3f3f3;
    --footercolor: #11403d;
    --black: #000000;
    --innershdw: inset 3px 4px 6px rgb(0, 0, 0, 0.3);
    --outershdw: 2px 2px 5px rgb(0, 0, 0, 0.3);
    --borderradius: 20px;
    --txtcolor1: #000000;
    --txtcolor2: #707070;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation begynder */

/* Fas fa-bar svg'ets (burgermenu ikonet) indstillinger */
.fas{
  color: black;
  font-size: 2rem;
  line-height: 40px;
  float: right;
  padding: 0.3em;
  padding-right: 0.5em;
}

/* Navbaren begynder */
nav{
  box-shadow: 2px 3px 6px rgb(140, 139, 139);
  width: 100%;
  padding: 0.1rem;
}

/* UL classen under "nav" */
.navbar{
  position: fixed;
  background-color: var(--secondarycolor);
  font-family: var(--mainfont);
  padding: 0;
}

/* LOGO i navbaren */
nav img{
  padding: 0.2rem;
}

/* UL indstillinger, bl.a. gør at vi har en transition på vores menu */
nav ul{
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  text-align: left;
  width: 100%;

}

/* List dekoration */
nav ul li{
  list-style-type: none;
  color: black;
  padding: 0.5em;
  border-bottom: 1px solid rgb(237, 236, 236);
  padding-top: 0.3em;
}

/* Når burgermenu'en kommer ned er det her hele a-tags dekoration */
nav ul li a{
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 21px;
}

/* Checkbox, som er burgermenu'ens indstillinger der gør at vores menu kommer ned når man klikker */
#checkbox{
  display: none;
}

#checkbox:checked ~ nav ul{
  max-height: 100%;
  transition: all 0.5s;
}

/* Navbar slutter */

/*Styling  af content-bokse*/
.content-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  padding: 2rem;
}

.content-box {
  background-color: var(--secondarycolor);
  border-radius: 15px;
  height: fit-content;
  box-shadow: var(--outershdw);
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.contentimg{
  width: 100%;
  border-radius: 15px;
  box-shadow: var(--outershdw);
}
.contenth{
  text-align: center;
}
.contentp{
  color: var(--txtcolor2);
  padding: 0 1em 0.5em 1em;
  line-height: 1.4em;
}

/* Topbar & Navbar */
.top-bar-nav {
  display: none;
}
  
.active {
    background-color: #04AA6D;
}

#filmknap {
    border-radius: 50px;
    border: solid 2px #04AA6D;
    padding-block: 0.4rem;
    padding-inline: 1.5rem;
    background-color: white;
    color: #04AA6D;
}
/* ----- Index ----- */
.indexheader{
  position: relative;
  text-align: center;
}
.headerimg{
  max-width: 100%;
  max-height: 100%;
  opacity: 75%;
}
.headerh1{
  color: var(--secondarycolor);
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerh2{
  color: var(--secondarycolor);
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----- Spisesteder ----- */
.spisheader{
    text-align: center;
}
.spisp{
    text-align: center;
    font-size: 0.84375rem;
    color: var(--txtcolor2)
}

.spisesteder-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: var(--txtcolor2) solid 1px;
  margin-bottom: 2rem;
}
/* Dropdown menu */
.dropbtn {
    background-color: var(--secondarycolor);
    box-shadow: var(--outershdw);
    border-radius: var(--borderradius);
    padding-inline: auto;
    padding-block: 1rem;
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    color: var(--black);
  }

  .arrow {
    margin-left: 2rem;
    align-items: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
  }

  .extra-margin {
    margin-bottom: 12rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    .sort-slider {
        display: none;
        position: absolute;
        flex-direction: column;
        width: 100%;
        background-color: #f1f1f1;
        text-transform: uppercase;
        font-size: 2rem;
        min-width: 160px;
        overflow: auto;
        border-radius: var(--borderradius);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-weight: 700;
      }


.spisesteder-h1 {
    font-size: 2rem;
    text-align: center;
  }

.show-element{
    display: block;
}

    /* Utility classes */
.show-element{
  display: block;
}

.hide-element{
  display: none;
}

.show-flex{
  display: block;
  display: flex;
}

.main-nav {
  display: none;
}


/* ------ MEDIA QUERY ------ */

@media only screen and (min-width: 960px) {
    body{
      margin-inline: 15vw;
    }
    
    .dropdown {
      display: none;
    }

    li a:hover:not(.active) {
      top: -3px;
  }

  .top-bar-nav .main-nav {
    display: block;
  }

    /* Sort-Slider */
.sort-slider {
  display: block;
  overflow: hidden;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 50px;
  margin: auto;
  position: relative;
  background-color: #fff;
  z-index: 7;
  border-radius: 50px;
  border: solid 1px;
  margin: 0;
}

.sort-slider li {
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 0px;
  float: left;
}
    
.sort-slider a {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
  border-radius: 50px;
  padding: 0;
  display: flex;
  cursor: pointer;
}
  
  .sort-slider a.active {
    background-color: #00BF6F;
    pointer-events: none;
    border: solid black 1px;
    color: #fff;
  }

  .spisesteder-h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .content-container {
    column-gap: 10%;
    row-gap: 0;
    grid-template-columns: 45% 45%;
  }
}